# Local environment variables example

# Server
PORT=4000
DATABASE_URL=postgresql://bambi_user:bambi_pass@localhost:5432/bambifound_db?schema=public
JWT_SECRET=super_secret_jwt_access_key_bambifound_2025
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key_bambifound_2025
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
FRONTEND_URL=http://localhost:3000

# Client
VITE_API_URL=http://localhost:4000
